<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'comments.edit' this}} <button {{action 'destroyRecord' this}}>Destroy</button></p>

<ul>
  <li class='comment-text'>Text: {{text}}</li>
  <li class='comment-post-id'>Post: {{postId}}</li>
</ul>
