<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'posts.edit' this}} <button {{action 'destroyRecord' this}}>Destroy</button></p>

<ul>
  <li class='post-title'>Title: {{title}}</li>
  <li class='post-text'>Text: {{text}}</li>
</ul>

<h4>Comments</h4>

<ul>
  {{#each comment in comments}}
    <li {{action 'destroyComment' model comment}}>{{comment.text}}</li>
  {{/each}}
</ul>

<h5>Create Comment</h5>
{{input value=newCommentText}}
<button {{action 'createComment' model newCommentText}}>Create</button>
