<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'posts.edit' this}} <button {{action 'destroyRecord' this}}>Destroy</button></p>

<ul>
  <li class='post-title'>Title: {{title}}</li>
  <li class='post-text'>Text: {{text}}</li>
</ul>
